<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
      <div class="container col-sm-1"></div>
      <div class="container col-sm-10">

   	<h2> Question has successfully submitted.<br />The answer will be sent to you at the email provided.</h2><br />
	<h3> If it was a factoid question, the estimated time would be 2 minutes, otherwise it would be around 20 minutes. </h3>

      <div class="container col-sm-4"></div>
      <div class="container col-sm-4">
<form class="form-signin" action = "/autoQA/" method = "POST">
<button class="btn btn-lg btn-primary btn-block" value="submit" type="submit">Go to home</button>
</form>
</div>
      <div class="container col-sm-4"></div>
    </div> <!-- /container -->
      <div class="container col-sm-1"></div>
          
   </body>
</html>
      
